<p id="notice"><%= notice %></p>

<p>
  <strong>問い合わせ番号:</strong>
  <%= @kanri_daicho.toiawase_id %>
</p>

<p>
  <strong>Googleメールアドレス:</strong>
  <%= @kanri_daicho.google_id %>
</p>

<p>
  <strong>誕生日:</strong>
  <%= @kanri_daicho.birthday %>
</p>

<p>
  <strong>避難先都道府県:</strong>
  <%= @kanri_daicho.prefecture %>
</p>

<p>
  <strong>避難先仮設住宅名:</strong>
  <%= @kanri_daicho.kasetsu_name %>
</p>

<p>
  <strong>タブレット電話番号:</strong>
  <%= @kanri_daicho.tel_number %>
</p>

<%= link_to '戻る', kanri_daichos_path %>
