<p id="notice"><%= notice %></p>

<p>
  <strong>Toiawase:</strong>
  <%= @kanri_daicho.toiawase_id %>
</p>

<p>
  <strong>Google:</strong>
  <%= @kanri_daicho.google_id %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @kanri_daicho.birthday %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @kanri_daicho.prefecture %>
</p>

<p>
  <strong>Kasetsu name:</strong>
  <%= @kanri_daicho.kasetsu_name %>
</p>

<p>
  <strong>Tel number:</strong>
  <%= @kanri_daicho.tel_number %>
</p>

<%= link_to 'Back', kanri_daichos_path %>
